.navbar-nav li{
    margin-left: 10px;
  }
  
  .navbar {
    background: linear-gradient(rgb(26, 1, 248), rgba(75, 147, 230, 0.993), rgb(47, 205, 233));
  }

  .navbar-nav a {
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
  }
  
  .navbar .navbar-nav>li.active {
    background: rgb(235, 40, 10);
  }
  
  .navbar .navbar-nav>li>a:hover {
    background: rgb(5, 55, 163);
  }

  .nav-link {
      color: rgb(255, 255, 255) !important;
  }

  .nav-item.active .nav-link {
      color: rgb(0, 28, 155) !important;
  }

  .navbar-text {
      color: rgb(255, 255, 255) !important;
  }

body {
  font-family: 'Audiowide', sans-serif !important;
  background-color: rgba(174, 243, 240, 0.425) !important;
}