.navbar-nav li{
    margin-left: 10px;
  }
  
  .navbar {
    background: linear-gradient(rgb(82, 65, 238), rgb(173, 221, 230));
  }

  .navbar-nav a {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
  }
  
  .navbar .navbar-nav>li.active {
    background: rgb(173, 221, 230);
  }
  
  .navbar .navbar-nav>li>a:hover {
    background: rgb(173, 221, 230);
  }

  .nav-link {
      color: rgba(36, 0, 167, 0.459) !important;
  }

  .nav-item.active .nav-link {
      color: rgb(72, 21, 255) !important;
  }

  .navbar-text {
      color: rgb(72, 21, 255) !important;
  }

body {
  font-family: 'Audiowide', sans-serif !important;
}