.navbar-nav li{
    margin-left: 10px;
  }

  .navbar .navbar-nav>li>a:hover {
    color: #6441a5 !important;
    border-bottom: 3px solid #6441a5;
    background-color: rgba(27, 27, 27, 0.699);
  }

  .nav-link {
      color: rgb(255, 255, 255) !important;
  }

  .nav-item.active .nav-link {
      color: #6441a5 !important;
      border-bottom: 3px solid #6441a5;
  }

  .navbar-text a{
      color: #6441a5 !important;
  }

body {
  font-family: 'Roboto Mono', monospace !important;
  background-color: rgba(0, 0, 0, 0.945) !important;
}