.container {
  position: relative;
  float: none;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

#pageinfo {
  white-space: nowrap;
  color: white;
}

#queryoptions .card {
  margin-left: 100px;
}
#queryoptions .card-body{
  text-align: center;
}

#treeimg {
  border: 1px solid #6441a5;
  width: 400px;
  height: 500px;
}

#listimg {
  border: 1px solid #6441a5;
  width: 400px;
  height: 500px;
}

ul {
  list-style-type: none;
}

#tree li {
  margin: 30px auto;
  position: relative;
  left: 100px;
  font-size: 1.5vw;
}

.item {
  border: 3px solid #ffffff;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
  border-radius: 10px;
  padding: 8px 8px 8px 8px;
}

.queryitem {
  border: 3px solid #6441a5;
  background-color: rgb(102, 102, 102);
  color: white;
  border-radius: 10px;
  padding: 8px 8px 8px 8px;
}

.node {
  cursor: pointer;
  user-select: none; 
}

.node::before {
  display: inline-block;
  margin-right: 6px;
}

.node { 
  display: show;
}

.hidden {
  display: none;
}

.treenode .active .item{
  border: 3px solid white;
  color: white !important;
  background-color: #6441a5;
}

.querybtn {
  position: fixed;
  top: 100px;
  right: 100px;
  border: 3px solid white;
  background-color: #6441a5;
  color: white;
  border-radius: 10px;
  padding: 8px 8px 8px 8px;
  cursor: pointer;
}

.node:hover {
  box-shadow: 10px 20px 20px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.2s ease-in-out;
}

.querybtn:hover {
  box-shadow: 10px 20px 20px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.2s ease-in-out;
}

.control-label {
  color: white !important;
}

#quick-queries-header {
  text-align: center;
  margin-top: 100px;
  color:white;
  text-decoration: underline;
}

#querylist {
  width: 1000px;
  overflow-y: scroll;
  position: relative;
  left: 5%;
  margin-bottom: 50px;
}

#querylist a {
  font-size: 1.5rem;
  color: white;
}

#list-items {
  list-style: circle;
}

li>a:hover {
  color: #6441a5 !important;
}

@media (min-width: 421px) and (max-width: 768px) {
  #querylist {
    height: 600px;
    width: 300px;
    overflow-y: hidden;
    overflow-y: scroll;
  }

  #querylist a {
    font-size: 3vw;
  }
}

@media (max-width: 420px) {
  #tree li {
    margin: 100px auto;
    left: 5px;
    font-size: 2.5vw;
  }

  #querylist {
    height: 600px;
    width: 200px;
    overflow-y: hidden;
    overflow-y: scroll;
  }

  #querylist a {
    font-size: 3vw;
  }
}

#queryoptions .card:hover {
    box-shadow: 10px 20px 20px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.2s ease-in-out;
}